.input-container {
  height: 100px;
}

.form-control {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  display: block;
  width: 100%;
  background: none;
  padding: 3px 0px;
  color: #666;
  font-family: "Muli-SemiBold";
  font-size: 16px;
  padding-left: 20px;
  outline: none;
  min-width: 300px;
  height: 60px;
}

.form-control:focus {
  border-bottom: 1px solid #accffe;
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
